:root {
    --primary: #32B1E4;
    --accent: #FF8000;
    --dk-gray: #334C56;
    --lt-gray: #F9FBFC;
    --white: #ffffff;
}

.bg-primary {
    background-color: var(--primary) !important;
}

.text-dark {
    color: var(--dk-gray);
}

.text-accent {
    color: var(--accent);
}

.capitalize {
    text-transform: capitalize;
}

body {
    position: relative;
}

.jumbotron {
    background-image: linear-gradient(#156c9f, var(--primary));
    /* Lighter blue gradient */
    /* background-image: linear-gradient(var(--primary), #bde1f6); */
    color: var(--white);
    margin: 0 auto;
    /* Texture option */
    /* background-color: var(--primary);
    background-image: url("https://www.transparenttextures.com/patterns/white-wall-3.png"); */
}

 .jumbotron-fluid {
    padding-right:0;
    padding-left:0;
    margin-right:auto;
    margin-left:auto
 }

 .jumbotron h1 {
    letter-spacing: .08rem;
 }

 .jumbotron h2 {
     font-size: 1.4rem;
     letter-spacing: .08rem;
 }

/* .masthead {
    background-color: var(--primary);
} */

h1, h2 {
    font-weight: normal;
}

hr {
    border: 1px solid var(--accent);
    margin-top: 8px;
    margin-bottom: 8px;
    box-shadow: -2px 1px 2px var(--dk-gray);
}


.icon-style {
    background-color: var(--white);
    padding: .5rem;
    border-radius: 50%;
    color: var(--accent);
    margin: 10px 5px;
    box-shadow: -2px 1px 5px var(--dk-gray);
    font-size: 1.4rem;
}



.navbar-brand {
    color: var(--white);
}

.navbar-brand:hover {
    color: var(--accent);
}

.hamburger {
    color: var(--white);
}

.navbar-nav a {
    color: var(--white);
}

.navbar-nav a:hover {
    color: var(--accent);
}

.section {
    padding-top: 20px;
}

.skill-icon {
    font-size: 1.75rem;
    padding: .6rem;
    margin: 1rem;
    border-radius: 50%;
    border: 2px solid var(--white);
    text-align: center;
}

.btn-style {
    /* border: 1px solid var(--accent); */
    letter-spacing: .1rem;
    font-weight: 600;
    box-shadow: -1px 1px 3px var(--dk-gray);
}

.pub-card {
    border: 2px solid var(--primary);

}

footer {
    background-image: linear-gradient(var(--primary), #156c9f);
}
